* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fdfdfd;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    overflow-y: auto;
    margin-top: 140px;
    margin-bottom: 52px;
}

/* FIXAR HEADER */
.topoFixo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

header {
    background: #B19FF9;
    color: white;
    text-align: center;
    padding: 20px 10px 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo-container img {
    width: 60px;
    height: auto;
}

/* TÓPICOS */
.topicos {
    background-color: #fdfdfd;
    overflow: auto;
    white-space: nowrap;
}

.topicos a {
    display: inline-block;
    color: #9D9D9D;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* ARTIGOS */
h4 {
    color: #3CD293;
    padding-left: 5%;
    padding-top: 5%;
}

.carrossel{
    display: flex;
    flex-direction: row;
    padding: 15px;
    overflow: auto;
    white-space: nowrap;
}

.conteudo{
    align-items: center;
    margin-left: 20px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

.tema {
    text-align: center;
    color: #8b8b8b;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.3;
    width: 200px;           
    white-space: normal;
}

/* ÍCONES */
a {
    font-size: 15px;
    text-decoration: none;
    color: #9D9D9D;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    border-top: 2px solid #E5E5E5;
}

.icones2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* FIXAR FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}