* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fdfdfd;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 130px;
}

/* FIXAR HEADER */
.topoFixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

header {
    background: #B19FF9;
    color: white;
    text-align: center;
    padding: 20px 10px 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo-container img {
    width: 60px;
    height: auto;
}

.topo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1%;
    border-bottom: 2px solid #E5E5E5;
    padding: 2%;
}

#titulo {
    font-size: 18px;
    color: #9D9D9D;
    margin-left: 39%;
}

/* CALENDÁRIO */
.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    background-color: #F4F4F4;
    padding: 2%;
    width: 90%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

/* centralizar */
.calendar-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar{
    font-size: 15px;
}

/* setas de avançar/voltar mês */
.month-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.month-nav h2 {
    margin: 0;
    font-size: 18px;
    text-transform: capitalize;
}

.month-nav button:hover {
    color: #B19FF9;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

/* dias da semana */
tr{
    font-size: 14px;
}

/* dia selecionado */
.selected {
    background-color: #a1e5d4;
    border-radius: 50%;
}

.event-container {
    margin: 20px;
    text-align: center;
}

#event-list {
    list-style: none;
    padding: 0;
}

#event-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    background-color: #F4F4F4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.event-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-grow: 1;
}

.event-details p {
    margin: 0;
    font-size: 15px;
    color: #333;
}

.event-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    padding: 5px;
}

.edit-btn {
    color: #3CD293;
}

.delete-btn {
    color: #3CD293;
}

/* "Não há eventos"*/
#no-event {
    font-size: 16px;
    padding: 6%;
    color: #9D9D9D;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    background-color: #F4F4F4;
}

#no-event i {
    font-size: 2em;
    margin-bottom: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="time"],
.modal-content input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.centConsulta{
    display: flex;
    justify-content: center;
}

/* adicionar consulta */
#openForm {
    background-color: #B19FF9;
    color: white;
    border: none;
    padding: 10px 141px;
    border-radius: 10px;
    cursor: pointer;
}

/* modal de adicionar evento */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 75%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    position: relative;
}

/* botão de salvar */
#saveEvent{
    border: none;
    background-color: #B19FF9;
    color: white;
    padding: 8px 110px;  
    border-radius: 10px;
    margin-top: 5px;
}

/* X de fechar modal*/
#closeForm {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

/* ÍCONES */
a {
    font-size: 15px;
    text-decoration: none;
    color: #9D9D9D;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    border-top: 2px solid #E5E5E5;
}

.icones2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* FINAL */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}