body {
    background-color: #B19FF9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

h2{   
    color: #B19FF9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
}

.formlogin{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.input-line {
    width: 100%;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    background: transparent;
}

.olho{
    border: none;
    background: transparent;
}

.entrar {
    background-color: #B19FF9;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-top: 50px;
    border-radius: 20px;
}

a {
    color: #B19FF9;
    text-decoration: none;
    font-size: 14px;
    align-self: center;
    margin-top: 5px;
}

p{
    display: flex;
    gap: 2vh;
    margin-left: 25px;
    margin-top: 30px;
}